<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - {{catalog.name}}</title>
</head>
<body>
    <h1>Edit Catalog: {{catalog.name}}</h1>
    <form action= "{{url_for('adminCatalog', catalog_id = catalog.id)}}" method='POST'>
        <p>Name:</p>
        <input type = 'text' size='30' name = 'name' placeholder = '{{catalog.name}}'>
        <p>Image Link:</p>
        <input type = 'text' size='30' name = 'image' placeholder = '{{catalog.image}}'>
        <p>Tagline:</p>
        <input type = 'text' size='30' name = 'tagline' placeholder = '{{catalog.tagline}}'>
        <input type="hidden" name="id" value="{{catalog.id}}"/>
        <br>
        <input type='submit' value='Edit'>
    </form>
    <a href= "/admin">Cancel</a>
</body>
</html>