{% extends 'base_admin.html' %}

{% block title %}Admin - Delete Product{% endblock %}

{% block content %}
<div class="product-header">
    <div class="page-nav">
        <a href="/admin">Home</a>&nbsp;>&nbsp;<a href="{{ url_for('adminProducts', catalog_id=catalog.id) }}">{{catalog.name}}</a>&nbsp;>&nbsp;<span>Delete
            {{product.model}}</span>
    </div>
    <h3>Click below to delete {{product.model}}</h3>
</div>

<form action="{{url_for('deleteProduct', catalog_id = catalog.id, product_id = product.id)}}" method='POST'>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

{% endblock %}