{% extends 'base_admin.html' %}

{% block title %}Admin - Delete Product{% endblock %}

{% block content %}
<div class="product-header">
    <div class="page-nav">
        <a href="/admin">Home</a>&nbsp;>&nbsp;<span>Delete {{catalog.name}}</span>
    </div>
    <h3>Click below to delete {{catalog.name}}</h3>
</div>

<form action="{{url_for('deleteCatalog', catalog_id = catalog.id)}}" method='POST'>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}