<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
</head>
<body>
        <h1>Ecommerce App Admin Site</h1>
        <div class="catalogs">
            <h3>Product Catalogs</h3>
            <p>Catalogs are used to group products together.
            This facilitates a simple navigation experience for the user on the client website.</p>
            {% for i in catalogs %}
                <div class="catalog">
                    <div class="catalog-name">{{i.name}}</div>
                    <a href="{{ url_for('adminCatalog',catalog_id=i.id) }}">Edit</a>
                    <a href="{{ url_for('deleteCatalog',catalog_id=i.id) }}">Delete</a>
                    <a href="{{ url_for('adminProducts',catalog_id=i.id) }}">Products</a>
                </div>
            {% endfor %}
        </div>
        <a href="/admin/catalog/new">Click here to create a new catalog</a>

</body>
</html>