<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{catalog.name}} Products</title>
</head>
<body>
    <h1>Product list: {{catalog.name}}</h1>
    <button><a href="/admin">Back</a></button>
    <button><a href="{{ url_for('newProduct', catalog_id = catalog.id) }}">New</a></button>
    <table>
        <thead>
            <th>id</th>
            <th>Model Number</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for p in products%}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.description}}</td>
                    <td>
                        <a href="{{ url_for('productView',catalog_id=catalog.id, product_id=p.id) }}">Edit</a>
                        <a href="{{ url_for('deleteProduct',catalog_id=catalog.id, product_id=p.id) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>