{% extends 'base_client.html' %}

{% block title %}Ecommerce {{catalog.name}}{% endblock %}

{% block content %}

<div class="page-nav">
    <a href="/">Home</a>&nbsp;>&nbsp;{{catalog.name}}
</div>
<h3 class="catalog-header">{{catalog.name}}: Products</h3>
<div class="products">
    {% for p in products %}
    <div class="card">
        <div class="card-image-div">
            <img class="card-img-top" src="{{p.images[0]}}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{p.brand}}</h5>
            <p>{{p.header}}</p>
            <h6>{{p.price}}</h6>
            <a href="{{ url_for('productPage',catalog_id=catalog.id,id=p.id) }}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}