{% extends 'base_client.html' %}

{% block title %}Ecommerce {{catalog.name}}{% endblock %}

{% block navlinks %}
    {% for c in catalogs %}
    <a class="dropdown-item" href="{{ url_for('categoryCatalog',catalog_id=c.id) }}">{{c.name}}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="featured-products">
        <h3>{{catalog.name}}: Products</h3>
        <div class="products">
                {% for p in products %}
                <div class="card">
                    <img class="card-img-top" src="{{p.image}}" alt="{{p.image}}">
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text">€ {{p.price}}</p>
                        <a href="{{ url_for('productPage',catalog_id=1,id=p.id) }}" class="btn btn-primary">View</a>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}