{% extends 'base_client.html' %}

{% block title %}Ecommerce App - Home{% endblock %}

{% block content %}
<div class="container">
    <div class="card login-card">
        <div id="result" class="card-body login-card-body">
            <h3 class="card-title">Login / Register</h3>
            <p>Click below to login or sign up with with Google</p>
            <div id="signinButton">
                <span class="g-signin" data-scope="openid email" data-clientid="335080544985-6a8tqn2au19qg6395svrm9pi96b4guk5.apps.googleusercontent.com"
                    data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback" data-approvalprompt="force">
                </span>
            </div>

        </div>
    </div>
</div>
{% endblock %}