<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{product.name}}</title>
</head>
<body>
    <h1>{{product.name}}</h1>
    <button><a href="{{ url_for('categoryCatalog', catalog_id = catalog_id) }}">Back</a></button>
    <div class="product">
        <div class="image"><img src={{product.image}} alt="product image"></div>
        <div class="price">{{product.price}}</div>
    </div>
</body>
</html>