{% extends 'base_client.html' %}

{% block title %}Ecommerce: {{product.name}}{% endblock %}

{% block navlinks %}
    {% for c in catalogs %}
    <a class="dropdown-item" href="{{ url_for('categoryCatalog',catalog_id=c.id) }}">{{c.name}}</a>
    {% endfor %}
{% endblock %}

{% block content %}
<div class="product-body">
    <div class="product-header"><h2>{{catalog.name}} - {{product.name}}</h2></div>
    <div class="product-image">
        <img src="{{product.image}}" alt="">
    </div>
    <div class="product-content">
        <h3>€ {{product.price}}</h3>
        <div class="description">{{product.description}}</div>
    </div>
</div>

{% endblock %}